button {
    height: 32px;
    width: 32px;
    outline: none;
    margin: 0px;
    border: none;
    border-radius: 0px;
    background: url(images/pic32.jpeg);
  }
  
button.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
  }